/* 引入normalize.css库以确保跨浏览器的一致性和标准化 */
@import 'normalize.css';

/* -------------------------------------------------------------------------- */
/*                               My Custom Styles                             */
/* -------------------------------------------------------------------------- */
:root {
    --ant-size-popup-arrow: 16px;
    --antd-arrow-background-color: rgba(0, 0, 0, 0.85);
}

.zoom-big-fast-appear,
.zoom-big-fast-enter,
.zoom-big-fast-leave {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.zoom-big-fast-appear.zoom-big-fast-appear-active,
.zoom-big-fast-enter.zoom-big-fast-enter-active {
    -webkit-animation-name: antZoomBigIn;
    animation-name: antZoomBigIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.zoom-big-fast-leave.zoom-big-fast-leave-active {
    -webkit-animation-name: antZoomBigOut;
    animation-name: antZoomBigOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.zoom-big-fast-appear,
.zoom-big-fast-enter {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
    animation-timing-function: cubic-bezier(.08, .82, .17, 1);
}
.zoom-big-fast-leave {
    -webkit-animation-timing-function: cubic-bezier(.78, .14, .15, .86);
    animation-timing-function: cubic-bezier(.78, .14, .15, .86);
}

@-webkit-keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes antZoomBigOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}
@keyframes antZoomBigOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}


